{
  "pools": [{
    "id": "bch",
    "coin": {
      "type": "BCH",
      "name": "Bitcoin Cash",
      "symbol": "BCH",
      "algorithm": "sha256",
      "blockTime": 600,
      "blockExplorer": "https://blockchair.com/bitcoin-cash/",
      "blockExplorerBlock": "https://blockchair.com/bitcoin-cash/block/{0}",
      "blockExplorerTx": "https://blockchair.com/bitcoin-cash/transaction/{0}",
      "blockExplorerAddress": "https://blockchair.com/bitcoin-cash/address/{0}"
    },
    "ports": {
      "3032": {
        "diff": 4.0,
        "varDiff": {
          "minDiff": 0.5,
          "maxDiff": 16.0,
          "targetTime": 15,
          "retargetTime": 90,
          "variancePercent": 30,
          "maxDelta": 0.3,
          "minDiffPrecision": 2
        },
        "desc": "Low Difficulty (CPU/GPU)"
      },
      "3256": {
        "diff": 16384.0,
        "varDiff": {
          "minDiff": 8192.0,
          "maxDiff": 262144.0,
          "targetTime": 15,
          "retargetTime": 90,
          "variancePercent": 30,
          "maxDelta": 0.3,
          "minDiffPrecision": 2
        },
        "desc": "High Difficulty (ASIC)"
      }
    },
    "daemons": [{
      "host": "bch-node",
      "port": 8332,
      "user": "rpcuser",
      "password": "rpcpassword"
    }],
    "paymentProcessing": {
      "enabled": true,
      "minimumPayment": 0.001,
      "payoutScheme": "PPLNS",
      "payoutSchemeConfig": {
        "factor": 2.0,
        "pplnsTimeWindow": "00:10:00"
      }
    }
  }]
}
